version: '3.8'
services:
  backend:
    build: ./backend
    container_name: merthanaya-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
  frontend:
    build: ./frontend
    container_name: merthanaya-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.production
    depends_on:
      - backend
